name: Test

on:
  push:
    branches:
    - "master"
  pull_request:
    branches:
    - "master"

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - run: dotnet test -c Debug ./VContainer.StandaloneTests

  test-unity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        unityVersion:
        - 2021.1.4f1
        - 2020.3.5f1
        - 2019.4.25f1
        - 2019.3.15f1
        # feature: ['None', 'UniTask', 'ECS']
        # feature: ['Default', 'UniTask', 'CodeGen']
        feature: ['Default', 'UniTask']
        include:
        - unityVersion: 2021.1.4f1
          license: UNITY_LICENSE_2021_1
        - unityVersion: 2020.3.5f1
          license: UNITY_LICENSE_2020_3
        - unityVersion: 2019.4.25f1
          license: UNITY_LICENSE_2019_4
        - unityVersion: 2019.3.15f1
          license: UNITY_LICENSE_2019_3
        - unityVersion: 2021.1.4f1
          feature: 'ECS'
          license: UNITY_LICENSE_2021_1
        # - unityVersion: 2018.4.31f1
        #   license: UNITY_LICENSE_2018_4
        #   externalPackage: 'None'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: VContainer/Library
        key: Library-VContainer-${{ matrix.unityVersion }}-${{ matrix.feature }}
        restore-keys: |
          Library-VContainer-
          Library-

    - name: Add UniTask
      if: matrix.feature == 'UniTask'
      shell: bash
      run: |
        sed -i '2a "com.cysharp.unitask": "https://github.com/Cysharp/UniTask.git?path=src/UniTask/Assets/Plugins/UniTask",' ./VContainer/Packages/manifest.json

    - name: Add Unity.Entities
      if: matrix.feature == 'ECS'
      shell: bash
      run: |
        sed -i '2a "com.unity.entities": "0.17.0-preview.41",' ./VContainer/Packages/manifest.json

    - name: Enable CodeGen
      if: matrix.feature == 'CodeGen'
      shell: bash
      run: |
        sed -i '4a "VContainer.EnableCodeGen",' ./VContainer/Assets/VContainer/Tests/VContainer.Tests.asmdef
  
    - uses: game-ci/unity-test-runner@v2.0-alpha-4
      env:
        UNITY_LICENSE: ${{ secrets[matrix.license] }}
      with:
        projectPath: ./VContainer
        unityVersion: ${{ matrix.unityVersion }}
        # customParameters: -testSettingsFile ./testSettings.json
    - uses: actions/upload-artifact@v2
      with:
        name: Test results
        path: artifacts
