name: Test

on: push

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.101
      - run: dotnet test -c Debug ./VContainer.StandaloneTests

  test-unity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        unityVersion:
        - 2020.3.0f1
        - 2019.4.22f1
        - 2019.3.15f1
        # externalPackage: ['None', 'UniTask', 'ECS']
        externalPackage: ['None', 'UniTask']
        include:
        - unityVersion: 2020.3.0f1
          license: UNITY_LICENSE_2020_3
        - unityVersion: 2019.4.22f1
          license: UNITY_LICENSE_2019_4
        - unityVersion: 2019.3.15f1
          license: UNITY_LICENSE_2019_3
        - externalPackage: 'ECS'
          unityVersion: 2020.3.0f1
          license: UNITY_LICENSE_2020_3
        # - unityVersion: 2018.4.31f1
        #   license: UNITY_LICENSE_2018_4
        #   externalPackage: 'None'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: VContainer/Library
        key: Library-VContainer-${{ matrix.unityVersion }}-${{ matrix.externalPackage }}
        restore-keys: |
          Library-VContainer-
          Library-

    - name: Add com.cysharp.unitask
      if: matrix.externalPackage == 'UniTask'
      shell: bash
      run: |
        sed -i '2a "com.cysharp.unitask": "https://github.com/Cysharp/UniTask.git?path=src/UniTask/Assets/Plugins/UniTask",' ./VContainer/Packages/manifest.json

    - name: Add com.unity.entities
      if: matrix.externalPackage == 'ECS'
      shell: bash
      run: |
        sed -i '2a "com.unity.entities": "0.17.0-preview.41",' ./VContainer/Packages/manifest.json
  
    - uses: game-ci/unity-test-runner@v2.0-alpha-2
      env:
        UNITY_LICENSE: ${{ secrets[matrix.license] }}
      with:
        projectPath: ./VContainer
        unityVersion: ${{ matrix.unityVersion }}
        # customParameters: -testSettingsFile ./testSettings.json
    - uses: actions/upload-artifact@v2
      with:
        name: Test results
        path: artifacts
